<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="book">
			<div class="book-summary">
			<div id="book-search-input" role="search">
   				 <input type="text" placeholder="Type to search">
			</div>
	<nav role="navigation">
        <ul >
        <li>
            <a href="https://www.gitbook.com/book/jaceklaskowski/mastering-apache-spark" target="_blank" class="custom-link">Mastering Apache Spark 2</a>
	</li>
        <li >
            <a href="./"> Introduction
            </a>
        </li>
        <li>
            <a href="spark-overview.html"> Overview of Apache Spark</a>
        </li>
	</ul >
	</nav>
    
	</div>
			<div>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="book-body">
			
			{{ content }}
			
			</div><!-- /.container -->
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
			</div>
		</body>
	</html>
