<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="book">
				<header>
	    				<nav>
	    				<ul>
	        				<li><a href="/">Home</a></li>
		        			<li><a href="/about">About</a></li>
	        				<li><a href="/cv">CV</a></li>
	        				<li><a href="/blog">Blog</a></li>
	    				</ul>
					</nav>
				</header>
			
				<div class="book-summary">
					<div id="book-search-input" role="search">
   				 		<input type="text" placeholder="Type to search">
					</div>
					<nav role="navigation">
       					 <ul >
        					<li>
            					<a href="./">Mastering Apache Spark 2</a>
						</li>
       						 <li >
         					  <a href="./"> Introduction of Apache Spark</a>
        					</li>
        					<li>
            					   <a href="./"> Overview of Apache Spark</a>
       						 </li>
					  </ul >
					</nav>
				</div>
				<div style="height:600px">
					<div class="book-body">
			
					{{ content }}
			
					</div><!-- /.container -->
				</div>
			
			<footer>
	    		<ul>
	        		<li><a href="/">email</a></li>
	        		<li><a href="/">github.com</a></li>
				</ul>
			<div style="background-color:#333;overflow: hidden;position:relative;" >
			
			<div class="col1">
<ul style="list-style-type:square;">
<li>
<span style="font-weight:bold ;color:#fff; font-style:normal; font-size:14px">Courses</span>
	
</li>
<br>
<li >
<a style="color:#fff; font-style:normal; font-size:14px" href="http://data-flair.training/big-data-hadoop/" alt="big data & hadoop">Apache Hadoop Training</a>
</li>
<br>
<li>
<a style="color:#fff;font-stylenormal; font-size:14px" href="http://data-flair.training/apache-spark-scala/" alt="apache spark & scala">Apache Spark Training</a>
</li>
<br>
<li>
 <a style="color:#fff;font-style:normal; font-size:14px" href="http://data-flair.training/apache-flink/" alt="apache flink">Apache Flink Training
</a>
</li>
<br>
<li>
<a style="color:#fff;font-style:normal; font-size:14px" href="http://data-flair.training/apache-kafka/" alt="apache kafka">Apache Kafka Training</a>
</li>
<br>
<li>
<a style="color:#fff;font-style:normal; font-size:14px" href="http://data-flair.training/apache-hbase/" alt="apache hbase">Apache Hbase Training</a>
</li>
<br>
<li>
<a style="color:#fff;font-style:normal; font-size:14px" href="http://data-flair.training/apache-storm/" alt="apache storm">Apache Storm Training</a>
</li>
</ul>
</div>
				
<div class="col2">
<ul>
<li>
<span style="color:#fff ;font-weight:bold ; font-style:normal; font-size:14px">Quiz</span>
</li>
<br>
<li>
<a style="color:#fff; font-style:normal; font-size:14px" href="http://data-flair.training/blogs/wp_quiz/hadoop-quiz-1/" alt=" hadoop quiz">Apache Hadoop Quiz </a>
</li>
<br>
<li>
<a style="color:#fff; font-style:normal; font-size:14px" href="http://data-flair.training/blogs/apache-spark-quiz-part-1/" alt="apache spark quiz part-1">Apache Spark Quiz Part-1
</a>
</li>
<br>
<li>
<a style="color:#fff; font-style:normal; font-size:14px" href="http://data-flair.training/blogs/apache-spark-quiz-part-2/" alt="apache spark quiz part-2">Apache Spark Quiz part-2
</a>
</li>
<br>
<hr style="width:80%;float:left;">
<br>
<li>
<span style="font-weight:bold ;color:#fff; font-style:normal; font-size:14px">Interview Question And Answers</span>
</li>
<br>
<li>
<a style="color:#fff; font-style:normal; font-size:14px" href="http://data-flair.training/blogs/apache-spark-top-interview-questions-answers/" alt="apache spark interview question">Apache Spark Interview Question
</a>
</li>
</ul>
</div>
<div class="col2"> 
<iframe width="70%" height="130" align="center" margin-bottom: 10px margin-top: 10px src="https://www.youtube.com/embed/BuREt8e3_ok" frameborder="0" allowfullscreen></iframe>
</div>
			
	</div>
				<div style="background-color:#333;overflow: hidden;position:relative;height:20px;"></div>
		</footer>
				
<div class="ig_message"  style="background-color:#000; overflow:hidden;">
	<div style="color: #fff; text-align: left;">
	&nbsp;&nbsp;&nbsp;
	<img src="http://data-flair.training/wp-content/uploads/Call-Contact-Icon-.png" alt="Call Contact DataFlair">
	&nbsp;&nbsp; 
	+91-77188-77477 
	&nbsp;&nbsp;&nbsp;&nbsp; 
	<img src="http://data-flair.training/wp-content/uploads/Mail-Contact-Icon.png" alt="Mail Contact DataFlair">
	&nbsp;&nbsp;
	info@data-flair.training 
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<strong style="background-color: #e85d4a; font-size: 16px !important; padding: 5px !important;">Kickstart Offer:</strong> 
	&nbsp;&nbsp;
	<strong style="font-size: 16px !important;">Upto 50% Off + Complementary Courses. </strong>
	&nbsp;
	Visit individual course for more details.
	</div>
</div>
			</div>
				</body>
					</html>
